<section class="checkout">
  <%= simple_form_for @order do |f| %>
    <div class="card big">
      <div class="container">
        <div class="row">
          <div class="col-lg-12"  >
            <h2>Checkout</h2>
            <div class="col-lg-4 col-sm-6 col-xs-12"  >
              <h4>Shipping</h4>
              <div class="col-lg-6 col-xs-12"  >
                <div >
                  <%= f.input :first_name, placeholder: 'First Name', label: false %>
                  </div>
              </div>
              <div class="col-lg-6 col-xs-12"  >
                <div >
                  <%= f.input :last_name, placeholder: 'Last Name', label: false %>
                  </div>
              </div>
              <div class="col-lg-12"  >
                <div >
                  <%= f.input :email, placeholder: 'Email', label: false %><br />
                  </div>
              </div>
              <div class="col-lg-12"  >
                <div >
                  <%= f.input :address_1, placeholder: 'Address 1', label: false %>
                  </div>
              </div>
              <div class="col-lg-12"  >
                <div >
                  <%= f.input :address_2, placeholder: 'Address 2', label: false %>
                  </div>
              </div>

              <div class="col-lg-12 col-sm-12 col-xs-12"  >
                <div >
                  <%= f.input :unit, placeholder: 'Apt/Unit', label: false %>
                  <br />
                  </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-xs-6"  >
                <div >
                  <%= f.input :postal, placeholder: 'Postal', label: false %>
                  </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-xs-6"  >
                <div >
                  <%= f.input :city, placeholder: 'City', label: false %>
                  </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-xs-6"  >
                <div >
                  <%= f.input :state, placeholder: 'State', label: false %>
                  </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-xs-6"  >
                <div >
                  <%= f.input :country, placeholder: 'Country', label: false %>
                  </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12"  >
              <h4>Payment</h4>
              <div id="card-number" class="input col-lg-8 btn"></div>
              <div id="card-expiry" class="input col-lg-6 btn"></div>
              <div id="card-cvc" class="input col-lg-6 btn"></div>
              <div class="col-lg-12" id="card-errors">
                <% @order.errors[:stripe_token].each do |message| %>
                <p class="error"><%= message %></p>
                <% end %>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
              <h4>Submit</h4>
              <p>Standard free shipping on all orders</p>
              <p>Orders will be processed in 3-5 business days</p>
              <div class="col-lg-6">
                <%= f.button :submit, 'Sumbit Order'%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <script>
    var fonts = [
      {
        cssSrc: "https://fonts.googleapis.com/css?family=Karla"
      }
    ];

    // styles for the stripe inputs
    var styles = {
      base: {
        iconColor: "#cccccc",
        color: "#000000",
        fontFamily: "Karla, Helvetica, Arial, sans-serif",
        fontSize: "16px",

        "::placeholder": {
          color: "#cccccc"
        },
        ":-webkit-autofill": {
          color: "#cccccc"
        }
      },
      invalid: {
        iconColor: "#FFC7EE",
        color: "#A31621"
      }
    };

    var stripe = Stripe(
      "<%= Rails.application.credentials[Rails.env.to_sym][:stripe_public_key] %>"
    );

    var elements = stripe.elements({ fonts: fonts });

    var cardNumber = elements.create("cardNumber", { style: styles });
    cardNumber.mount("#card-number");
    var cardExpiry = elements.create("cardExpiry", { style: styles });
    cardExpiry.mount("#card-expiry");
    var cardCvc = elements.create("cardCvc", { style: styles });
    cardCvc.mount("#card-cvc");

    $("form.new_order").on("submit", function(ev) {
      ev.preventDefault();

      stripe.createToken(cardNumber).then(function(result) {
        console.log(result.token.id);
        if (result.error) {
          $("#card-errors").html(result.error.message);
        } else {
          $("form.new_order").append(
            "<input type=hidden name='order[stripe_token]' value=" +
              result.token.id +
              ">"
          );
          $("form.new_order")
            .get(0)
            .submit();
        }
      });
    });
  </script>

</section>
