<section class="checkout mt">
<%= simple_form_for @order, html: { class: 'new_order' } do |f| %>
  <h2>Checkout</h2>
  <div class="shipping card">
    <h4>Shipping</h4><br>
    <%= f.input :first_name, placeholder: 'First Name', label: false %>
    <%= f.input :last_name, placeholder: 'Last Name', label: false %>
    <%= f.input :email, placeholder: 'Email', label: false %><br />
    <%= f.input :address_1, placeholder: 'Address 1', label: false %>
    <%= f.input :address_2, placeholder: 'Address 2', label: false %>
    <%= f.input :unit, placeholder: 'Apt/Unit', label: false %><br />
    <%= f.input :postal, placeholder: 'Postal', label: false %>
    <%= f.input :city, placeholder: 'City', label: false %>
    <%= f.input :state, placeholder: 'State', label: false %>
    <%= f.input :country, placeholder: 'Country', label: false, priority: ["US", 'CA']%>
  </div>

  <div class="payment card">
    <h4>Payment</h4><br>
    <div id="card-number" class="input btn"></div>
    <div id="card-expiry" class="input btn"></div>
    <div id="card-cvc" class="input btn"></div>
    <div id="card-errors">
      <% @order.errors[:stripe_token].each do |message| %>
      <p class="error"><%= message %></p>
      <% end %>
    </div>
  </div>

  <div class="submit card">
    <h4>Complete</h4><br>
    <p>Standard free shipping on all orders</p>
    <p>DreamHi Merch is MADE TO ORDER <br> Please allow 2-6 weeks for production and 3-6 days for shipping </p>
    <%= f.button :submit, 'Sumbit Order'%>
  </div>
<% end %>

  <script>
    var fonts = [
      {
        cssSrc: "https://fonts.googleapis.com/css?family=Karla"
      }
    ];

    // styles for the stripe inputs
    var styles = {
      base: {
        iconColor: "#cccccc",
        color: "#000000",
        fontFamily: "Karla, Helvetica, Arial, sans-serif",
        fontSize: "16px",

        "::placeholder": {
          color: "#cccccc"
        },
        ":-webkit-autofill": {
          color: "#cccccc"
        }
      },
      invalid: {
        iconColor: "#FFC7EE",
        color: "#A31621"
      }
    };

    var stripe = Stripe(
      "<%= ENV["STRIPE_PUBLIC_KEY"] %>"
    );

    Stripe.api_key = stripe

    var elements = stripe.elements({ fonts: fonts });

    var cardNumber = elements.create("cardNumber", { style: styles });
    cardNumber.mount("#card-number");
    var cardExpiry = elements.create("cardExpiry", { style: styles });
    cardExpiry.mount("#card-expiry");
    var cardCvc = elements.create("cardCvc", { style: styles });
    cardCvc.mount("#card-cvc");

    $("form.new_order").on("submit", function(ev) {
      ev.preventDefault();

      stripe.createToken(cardNumber).then(function(result) {
        console.log(result.token.id);
        if (result.error) {
          $("#card-errors").html(result.error.message);
        } else {
          $("form.new_order").append(
            "<input type=hidden name='order[stripe_token]' value=" +
              result.token.id +
              ">"
          );
          $("form.new_order")
            .get(0)
            .submit();
        }
      });
    });
  </script>

</section>
