<h1>Checkout</h1>

Total number of items: <%= @order.order_items.size %>

<%= simple_form_for @order do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>

  <%= f.input :email %>

  <%= f.input :address_1 %>
  <%= f.input :address_2 %>
  <%= f.input :unit %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :country %>
  <%= f.input :postal %>

  <div id="card-errors">
    <% @order.errors[:stripe_token].each do |message| %>
      <p class="error"><%= message %></p>
    <% end %>
  </div>
  <div id='card'></div>

  <%= f.button :submit, 'Sumbit Order'%>
<% end %>

<script>
  var stripe = Stripe('<%= Rails.application.credentials[Rails.env.to_sym][:stripe_public_key] %>')
  var elements = stripe.elements()

  var card = elements.create("card", { hidePostalCode: true })
  card.mount("#card")

  $("form.new_order").on("submit", function (ev) {
    ev.preventDefault()

    stripe.createToken(card).then(function (result) {
      if (result.error) {
        $("#card-errors").html(result.error.message)
      } else {
        $("form.new_order").append("<input type=hidden name='order[stripe_token]' value=" + result.token.id + ">")
        $("form.new_order").get(0).submit()
      }
    })
  })



</script>
