

<section class='intro'>
  <div class="container">
    <div class="image">
      <%= image_tag('logo-full.png')%>
    </div>
    
    <ul>
      <li><%= link_to 'lookbook', lookbook_path, class: "btn"%><%= link_to 'shop', shop_path, class: "btn"%></li>
      <li><%= link_to 'photography', photography_path, class: "btn"%><%= link_to 'all', all_path, class: "btn"%></li>
      <li><%= link_to 'design', design_path, class: "btn"%><%= link_to 'archive', archives_path, class: "btn"%></li>
      <li><%= link_to 'info', info_path , class: "btn"%><%= link_to 'contact', contact_path , class: "btn"%></li>
    </ul>
  </div>
</section>








