

<section class='intro'>
  <div class="container">
    <div class="image">
      <%= image_tag('logo-full.png')%>
    </div>
    
    <ul>
      <li><%= link_to 'lookbook', lookbook_path, class: "btn"%><%= link_to 'shop', shop_path, class: "btn"%></li>
      <li><%= link_to 'photography', root_path(is_photography: true), class: "btn"%><%= link_to 'all', projects_path, class: "btn"%></li>
      <li><%= link_to 'design', root_path(is_design: true), class: "btn"%><%= link_to 'archive', root_path(is_archived: true), class: "btn"%></li>
      <li><%= link_to 'info', info_path , class: "btn"%><%= link_to 'contact', contact_path , class: "btn"%></li>
    </ul>
  </div>
</section>








