<section class="projects info team">
  <div class="container">
      <div class="card">
          <%= image_tag("logo-full.png", :alt => "DREAMHI", class: "logo") %>
          <h3>Drēm/Hī/</h3>
          <h4>Take A Chance</h4><br />
          <p>DreamHi is a creative brand consulting agency and apparel brand. Our team helps build artist brands by providing marketing consulting that is a custom fit for each artist’s needs. With our experience in the global music and fashion industries, we analyze strengths and weaknesses and put forward a plan toward reaching the artist’s brand dreams. </p><br />
          <p>Our apparel brand offers tour merchandising which includes concept, design, and production. </p><br />
          <p>The DreamHi team works with artists to create honest and authentic products that provide the perfect connection between fans and artists. All merchandise is created with in-house graphics, photography, and designers. </p>
      </div>
      <% @projects.each do |project| %>
          <div class="grid team">
              <%= image_tag project.image_1.medium.url %><br />
              <div class="card">
                <h4><%= project.artist %></h4>
                <h5><%= project.title %></h5>
                <p><%= project.description %></p>
              </div>
          </div>
      <% end %>


    </div>
</section>
