<section class="background-text">
  <%= image_tag("logoglobe.png") %>
</section>

<section class='project'>
  <div class="container">
      <div class="images grid">
        <%= image_tag @project.image_1.large.url%>
        <% if @project.image_2.present? %>
          <%= image_tag @project.image_2.large.url%>
        <% end %>
        <% if @project.image_4.present? %>
          <%= image_tag @project.image_4.large.url%>
        <% end %>
        <% if @project.image_5.present? %>
          <%= image_tag @project.image_5.large.url%>
        <% end %>
        <% if @project.image_3.present? %>
          <%= image_tag @project.image_3.large.url%>
        <% end %>
        <% if @project.image_4.present? %>
          <%= image_tag @project.image_4.large.url%>
        <% end %>
        <% if @project.image_5.present? %>
          <%= image_tag @project.image_5.large.url%>
        <% end %>
      </div>

      <div class="card show-card">
          <h4><%= @project.title%></h4>
          <h5 style="font-weight:700;"><%=@project.artist%></h5><br />
          <p><%= simple_format @project.description %></p><br />

          <div class='navlinks'>
            <% if @prev %>
              <%= link_to "Prev", @prev, class: "btn" %>
            <% else %>
              <%= link_to "Prev", '#', :class => "strike btn"%>
            <% end %>

            <% if @next %>
              <%= link_to "Next", @next, class: "btn" %>
            <% else %>
              <%= link_to "Next", '#', :class => "strike btn"%>
            <% end %>
          </div>
        </div>
    </div>
</section>

<style>
.images { padding-bottom: 500px; }
footer { display: none; }
</style>
