<div class="alert"><p>Free Dreamhi Dice With Every Purchase While Supplies Last</p></div>
<section class="products mt">
  <div class="container">
    <div class="products-grid">
      <% @products.each do |product| %>
        <% if product.is_sold_out==true %>
          <div class="sold-out product">
            <%= image_tag product.image_1.medium.url, class: "image"%>
            <h5><%= product.title%></h5>
            <p><%= number_to_currency product.price, precision: 0%></p>
            <div class="overlay">
              <div class="text"><h2>SOLD OUT</h2></div>
            </div>
          </div>
        <% else %>
          <div class="product">
            <%= link_to product_path(product) do %>
              <%= image_tag product.image_1.medium.url %>
              <h5><%= product.title%></h5>
              <p><%= number_to_currency product.price, precision: 0%></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
  </div>
  </div>
</section>
