
  <section class='show-product'>
    <div class="container">
      <div class="row">

        <div class="col-md-9 images">
          <%= image_tag @product.image_1.large.url%>
          <% if @product.image_2.present? %>
            <%= image_tag @product.image_2.large.url %>
          <% end %>
          <% if @product.image_3.present? %>
            <%= image_tag @product.image_3.large.url %>
          <% end %>
          <% if @product.image_4.present? %>
            <%= image_tag @product.image_4.large.url %>
          <% end %>
          <% if @product.image_5.present? %>
            <%= image_tag @product.image_5.large.url %>
          <% end %>
        </div>

        <div class="col-md-3 card">
          <div>
            <h3><%= @product.title%></h3>
            <h5 style="line-height:1.75;"><%= number_to_currency @product.price, precision: 0 %></h5>
            <p><%= simple_format @product.description %></p>
          </div><br />
          <%= simple_form_for [@product, @order_item] do |f|%>
          <div class="col-md-6">
            <%= f.input :size, collection: ["XS", "S", "M","L","XL"], required: true %>
          </div>
          <div class="col-md-6">
            <%= f.input :quantity, collection: ["1", "2", "3","4","5"] %>
          </div>
          <div class="col-md-12">
            <%= f.button :submit, 'Add to Cart'%>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
