<!DOCTYPE html>
<html>
  <head>
    <title>Dreamhi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://js.stripe.com/v3/"></script>

    <%= favicon_link_tag asset_path('logo-globe.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
  </head>

  <body>
    <% if flash[:success].present? %>
      <div class='success'>
        <%= flash[:success]%>
      </div>
    <% end %>
    <% if flash[:error].present? %>
      <div class='error'>
        <%= flash[:error]%>
      </div>
    <% end %>
    <header>
      <div class='project-filters'>
        <%= link_to image_tag('logo-globe.png'), root_path, class: "logo btn"%>
        <%= link_to 'photos', root_path(is_photography: true), class: "btn"%>
        <%= link_to 'design', root_path(is_design: true), class: "btn"%>
        <%= link_to 'archive', root_path(is_archived: true), class: "btn"%>
        <%= link_to '?', info_path , class: "btn"%>

      </div>
      <div class='search-cart'>
        <%= link_to 'shop', shop_path, class: "btn"%>
        <%= link_to cart_path do %>
          <div class='cart btn'>
            <%= @current_cart.total_quantity%>
          </div>
        <% end %>
      </div>
    </header>



    <%= yield %>
    <!-- <div class="background"></div> -->
    <footer>
          <div>
            <h5>Stay In Touch</h5>
            <nav>
              <%= link_to "Instagram", "https://www.instagram.com/dreamhiiii/", target: '_blank', class: "btn"%>
              <%= link_to "Twitter", "https://www.twitter.com/dreamhiiii/", target: '_blank', class: "btn"%>
            </nav>
          </div>
          <div class="bri">
            <p>Copyright Dreamhi LLC</p>
            <p><%= link_to "Site Created by b.", "https://www.brianagude.com/", target: '_blank'%></p>
          </div>
          <div>
            <h5>Stay Updated</h5>
            <form action="https://formspree.io/info@dreamhi.com" method="POST">
              <!-- <input type="text" name="name" placeholder="What's your name?"> -->
              <input type="email" name="_replyto" placeholder="Email" class="btn">
              <input type="submit" value="Send" class="btn">
            </form>
          </div>
    </footer>
    <!-- <div class="background"></div> -->
    <%= javascript_include_tag 'application' %>
  </body>
</html>
